body{
	background:#212121;
	padding:50px 0;	
}
.nav{
	font-family:Prime;
	text-align:center;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:1px;
}
.nav *{
	box-sizing:border-box;
	transition:all 0.35s ease;
}
.nav li{
	display:inline-block;
	list-style: none none;
	margin: .5em 1em;
	padding:0;
}
.nav a{
	padding:0.5em 0.8em;
	color:rgba(255,255,255,0.5);
	position:relative;
	text-decoration:none;
	font-size:20px;
}
.nav a:before,
.nav a:after{
	height:14px;
	width:14px;
	position:absolute;
	content:' ';
	transition:all 0.35 ease;
	opacity:0;
}
.nav a:before{
	right:0;
	top:0;
	border-right:3px solid red;
	border-top:3px solid red;
	transform:translate(-100%,50%);
}
.nav a:after{
	left:0;
	bottom:0;
	border-left:3px solid red;
	border-bottom:3px solid red;
	transform:translate(100%,-50%);
}
a:hover:before,
a:hover:after{
	transform:translate(0%,0%);
	opacity:1;
}
main img{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.title_puchar{
    color: white;
    padding-top:2%;
    font-size: 22px;
    text-align: center;
}
.opis{
    color:white;
    padding: 2% 3%;
    font-size: 18px;
    text-align: center;
    display: block;
}






